footer
    ul
        display: flex
        justify-content: center
        gap: 1.5rem
        list-style: none

        a
            display: block
            background-color: transparent
            border-radius: .4rem
            padding: .15rem .35rem
            text-decoration: none
            color: white
            transition: 200ms

            &:hover
                background-color: white
                color: black

    small
        font-size: .75rem
        opacity: .5
